*{
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}

:root{
    --font-size-h1: 54px;
    --font-size-h2: 45px;
    --font-size-h3: 35px;
    --font-size-h4: 30px;
    --font-size-h5: 25px;
    --font-size-body: 16px;
    --font-size-button: 16px;
    --font-size-caption: 14px;

    --font-weight-h1: 700;
    --font-weight-h2: 700;
    --font-weight-h3: 700;
    --font-weight-h4: 500;
    --font-weight-h5: 700;

    --color-primary: #9130F4;
    --color-secundary: #121139;
    --color-neutral: #F4F4F4;

    --font-family: "Inter", sans-serif;
}