@import url(./global.css);

header{
    display: flex; /* Para que o grupo fique ao lado do outro */
    justify-content: space-between; /* Colocar nas extremidades */
    align-items: center; /* Centraliza na vertical */
    padding: 46px;
    background-color:#121139;

}

.container-nav-header{
    display: flex; /* Para que o grupo fique ao lado do outro */
    align-items: center; /* Centraliza na vertical */

}

.navigation-header ul{ /* Só vai estilizar as tags <UL> que etiverem dentro de navigation-header */
    display: flex;  /* Para que o grupo fique ao lado do outro */
    gap: 40px; /* Distância entre os elementos */
    list-style: none; /* Remove a bolinha */
}

.navigation-header a{
    color: white;
    text-decoration: none;
}

.btn-header{
    background-color: #8B5CF6;
    color: white;
    padding: 12px 24px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    margin-left: 137.5px;
}

/* RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color: #121139;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}


/* HERO */

   .hero{
    width: 100%;
    padding: 40px 10%;
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 50px;

    padding: 10 10%;
}


/* TEXTO */

.hero-text{
    width: 45%;
}

.hero-text h1{
    font-size: 4rem;
    line-height: 1.1;
    margin-bottom: 20px;
}

.hero-text h1 span{
    color: #8b5cf6;
}

.hero-text p{
    color: #bdbdbd;
    line-height: 1.7;
    margin-bottom: 30px;
    font-size: 1rem;
}


.hero-text button{
    padding: 14px 32px;

    border: 1px solid #8b5cf6;
    background: transparent;

    color: white;

    border-radius: 10px;

    cursor: pointer;

    transition: 0.3s;
}


.hero-text button:hover{
    background-color: #8b5cf6;
}

/* IMAGEM/CARDS */



