@import url(./global.css);

header{
    display: flex; 
    justify-content: space-between;
    align-items: center; 
    padding: 46px;
    background-color:#121139;
    border-bottom: solid #8b5cf6;
}

.container-nav-header{
    display: flex; 
    align-items: center; 

}

.navigation-header ul{ 
    display: flex;  
    gap: 40px;
    list-style: none; 
}

.navigation-header a{
    color: white;
    text-decoration: none;
}

.btn-header{
    background-color: #8B5CF6;
    color: white;
    padding: 12px 24px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    margin-left: 137.5px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #121139;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

   .hero{
    width: 100%;
    padding: 40px 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 10 10%;
}

.hero-text{
    width: 45%;
}

.hero-text h1{
    font-size: 4rem;
    line-height: 1.1;
    margin-bottom: 20px;
}

.hero-text h1 span{
    color: #8b5cf6;
}

.hero-text p{
    color: #bdbdbd;
    line-height: 1.7;
    margin-bottom: 30px;
    font-size: 1rem;
}

.hero-text button{
    padding: 14px 32px;

    border: 1px solid #8b5cf6;
    background: transparent;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.hero-text button:hover{
    background-color: #8b5cf6;
}

.financial-control{
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    padding: 120px 10%;
    background-color: white;
}

.financial-image img{
    width: 500px;
}

.financial-text{
    width: 500px;
}

.financial-text span{
    color: #8B5CF6;
    font-weight: 700;
    letter-spacing: 2px;
}
.financial-text h1{
    font-size: 4rem;
    line-height: 1.1;
    margin-bottom: 20px;
}

.hero-text h1 span{
    color: #8b5cf6;
}

.financial-text{
    width: 550px;
}

.financial-text h1{
    color: #111827;

    font-size: 3rem;

    line-height: 1.2;

    margin-bottom: 30px;
}

.financial-text p{
    color: #111827;

    line-height: 1.9;

    margin-bottom: 22px;

    font-size: 1rem;
}

.growth{
    width: 100%;

    background-color: #121139;

    padding: 120px 10%;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    text-align: center;
}

.growth-text{
    max-width: 700px;

    margin-bottom: 60px;
}

.growth-text h1{
    font-size: 4rem;

    line-height: 1.1;

    color: white;

    margin-bottom: 30px;
}

.growth-text span{
    color: #8B5CF6;
}

.growth-text p{
    color: #B6BBC8;

    line-height: 1.9;

    font-size: 1rem;
}

.growth-image img{
    width: 100%;
    max-width: 900px;
}

.footer{
    width: 100%;
    background-color: #121139;
    padding: 0 10% 80px;
    border-top: 1px solid (--color-neutral);
}

.footer-line{
    width: 100%;
    height: 1px;
    background-color: gray;
    margin-bottom: 70px;
}


.footer-container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 50px;
}


.footer-logo img{
    width: 180px;
}

.footer-column{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer-column h3{
    color: white;
}

.footer-column ul{
    list-style: none;
}

.footer-column a{
    color: #B6BBC8;
    text-decoration: none;
}

.footer-column a:hover{
    color: #8B5CF6;
}

.footer-newsletter h3{
    color: white;
}

.newsletter-input{
    display: flex;
    align-items: center;
    padding-bottom: 15px;
}

.newsletter-input input{
    background: transparent;
    color: white;
    width: 250px;
}


form{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #4D4D4D;
    padding-bottom: 16px;
    width: 385px;
}

input{
    background-color: transparent;
    color: white;
}

form button{
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #8B5CF6;

    padding: 11px;

    border-radius: 50px;

    border: none;

    cursor: pointer;

    transition: 0.3s;

}

form button:hover{
    transform: translateY(-10px);
    background-color: #8b5cf6;
}